body{
    background: #7c6c54;
}
head{
    font-family: 'Zen Tokyo Zoo', cursive;

}
header{
    margin-bottom: 50px;
}
p{
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 1.3rem;
}
b{
    font-size: 1.4rem;
    
}
h1{
    font-family: 'Zen Tokyo Zoo', cursive;
    text-align: center;
    font-size: 2.5rem;
}

.img_principale{
    width: 100%
}
.position-img-principale{
    height: 270px;
    overflow: hidden;
}
.position_img_article{
margin-top: 70px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}
.position-text-article{
    margin-top: 10px;
    border: 2px solid;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color:black;
    background-color: #bd9669;
}
.img_article{
 width: 100%;
 -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}
.icon_cam{
    font-size: 2rem;
   display: flex;
    justify-content: center;
    
}

.text-article{
    margin: 10px;
    text-align: center;
    margin-bottom: 30px;
}

footer{
    background-image:url(https://media.istockphoto.com/vectors/photo-camera-doodle-icon-vector-id1180394598?k=6&m=1180394598&s=612x612&w=0&h=fzUp5-syYYajwgc7guhH8y7YznQyPuBGjMZIljk0koI=);
    width: 100%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;

    
}

.icon_contact{
font-size: 2.4rem;
margin: 40px;
margin-top: 30px;
color: #3c3434;
}

/*--menu déroulant page products--*/
.circle_blue{
    width: 40px;
    height: 40px;
    background-color: blue;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 10px;
}
.circle_green{
    width: 40px;
    height: 40px;
    background-color: green;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 10px;
}
.circle_yellow{
    width: 40px;
    height: 40px;
    background-color: yellow;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 10px;
}
.position_lentile{
    display: flex;
    justify-content:center;
    
}
/*--button page products--*/

.position-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
button{
    border-radius: 20px;
    width: 150px;
    height: 60px;
    border:none;
    text-align: center;
    background-color:#3c3434 ;
}
button>p{
    color:#bd9669;
}

/*--page confirmations--*/
.position-confirmation{
    display: flex;
    justify-content: center;
    text-align: center;
}
.check{
    font-size: 5rem;
    color:#bd9669;
}


